@font-face {
  font-family: 'Nollefont';
  src: url('/fonts/nollefont.woff2'), url('/fonts/nollefont.woff'),
    url('/fonts/nollefont.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
