.strapi-wysiwyg {
  .text-header {
    @apply relative w-fit;

    &::after {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      height: 2px;
      bottom: -0.25em;

      @apply rounded-full bg-accent;
    }
  }

  img,
  figure {
    @apply w-fit rounded-md text-center;
  }

  a {
    @apply text-accent hover:underline;
  }

  ul,
  li {
    @apply ml-2 list-disc;
  }
}
